#main {
    background-image: url("images/pattern.jpg");
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color:khaki;
    text-align: center;
}
.sub {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
#brushes {
    background-color: mediumspringgreen;
}
#frames {
    background-color: lightcoral;
}
#paint {
    background-color: skyblue;
}
.price {
    color: blue;
}